{% extends 'base.html.twig' %}

{% block title %}Hello FileManagementController!{% endblock %}

{% block body %}
<div class="row">   
    <div class="col-lg-6"><p><a href="{{ path('listImage') }}">Image</a></p></div>
    <div class="col-lg-6"><p><a href="{{ path('listVideo') }}">Video</a></p></div>
    <div class="col-lg-6"><p><a href="{{ path('listPdf') }}">Pdf</a></p></div>
    <div class="col-lg-6"><p><a href="{{ path('listRandom') }}">Random</a></p></div>
</div>
{% endblock %}
