{% extends 'base.html.twig' %}

{% block title %}Hello FileManagementController!{% endblock %}

{% block body %}
<div>   
    <p>Ajout Image | <a href="{{ path('listImage') }}">Liste des images</a></p>
    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="{{ path('addImage') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <button type="submit">Upload</button>
    </form>
</div>
{% endblock %}
