{% extends 'base.html.twig' %}

{% block title %}Hello FileManagementController!{% endblock %}

{% block body %}
<div>   
    <p>
        Ajout PDF | 
        <a href="{{ path('listPdf') }}">Liste PDF</a> |
        <a href="{{ path('acceuil') }}">Page d'acceuil</a>
    </p>
    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="{{ path('addPdf') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <button type="submit">Upload</button>
    </form>
</div>
{% endblock %}
